@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.masked-text {
  background: linear-gradient(to right, #f3a303, #d31905);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text path {
  fill: transparent;
  stroke: #333;
  stroke-width: 2;
  stroke-dasharray: 10;
  stroke-dashoffset: 300;
  animation: drawText 15s forwards;
}

.text span.a {
  opacity: 0;
  animation: 6s showText forwards;
}

.text span.b  {
  opacity: 0;
  animation: 8s showText forwards;
}

@keyframes showText {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes drawText {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200;
  }
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* 隱藏滾動條 */
}

.no-scrollbar {
  /* 隱藏滾動條（WebKit 瀏覽器，如 Chrome、Safari） */
  -ms-overflow-style: none;
  /* 針對 Internet Explorer 和 Edge */
  scrollbar-width: none;
  /* 針對 Firefox */
}

.bg-w-to-b{
  background: linear-gradient(to bottom, #fff,#f5f5f5 10%, #d0d0d0 30%, #555 75%, #000);
}

